<?xml version='1.0' encoding='utf-8'?>
<plugin id="com-andrideng-cordova-hprt-printer-plugin" 
        version="0.0.1" 
        xmlns="http://apache.org/cordova/ns/plugins/1.0" 
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>HprtPrinter</name>
    
    <js-module name="HprtPrinter" src="www/HprtPrinter.js">
        <clobbers target="cordova.plugins.HprtPrinter" />
    </js-module>

    <asset src="www/HprtPrinter.js" target="js/HprtPrinter.js"/>

    <engines>
        <engine name="cordova" version=">=3.4.0"/>
    </engines>

    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="HprtPrinter">
            <param name="android-package"
                    value="com.andrideng.plugin.HprtPrinter"/>
            </feature>
        </config-file>
        <source-file src="src/android/com/andrideng/plugin/HprtPrinter.java" 
        target-dir="src/android/com/andrideng/plugin" />
        <source-file src="src/android/com/andrideng/plugin/PublicAction.java" 
        target-dir="src/android/com/andrideng/plugin" />
        <source-file src="src/android/libs/Android_Print_SDK_ESC_V1.11.jar" 
        target-dir="libs" />

        <source-file src="src/android/libs/armeabi/libprinter_model.so" 
        target-dir="jniLibs/armeabi" />
        <lib-file src="src/android/libs/armeabi" arch="device" />

        <source-file src="src/android/libs/arm64-v8a/libprinter_model.so" 
        target-dir="jniLibs/arm64-v8a" />
        <lib-file src="src/android/libs/arm64-v8a" arch="device" />

        <source-file src="src/android/libs/armeabi-v7a/libprinter_model.so" 
        target-dir="jniLibs/armeabi-v7a" />
        <lib-file src="src/android/libs/armeabi-v7a" arch="device" />

        <source-file src="src/android/libs/mips/libprinter_model.so" 
        target-dir="jniLibs/mips" />
        <lib-file src="src/android/libs/mips" arch="device" />

        <source-file src="src/android/libs/mips64/libprinter_model.so" 
        target-dir="jniLibs/mips64" />
        <lib-file src="src/android/libs/mips64" arch="device" />

        <source-file src="src/android/libs/x86/libprinter_model.so" 
        target-dir="jniLibs/x86" />
        <lib-file src="src/android/libs/x86" arch="device" />

        <source-file src="src/android/libs/x86_64/libprinter_model.so" 
        target-dir="jniLibs/x86_64" />
        <lib-file src="src/android/libs/x86_64" arch="device" />

        <!-- <resource-file src="src/android/libs/armeabi/libLZO.so" 
        target="jniLibs/armeabi/libLZO.so" />
        <resource-file src="src/android/libs/armeabi/libprinter_helper_cmd.so" 
        target="jniLibs/armeabi/libprinter_helper_cmd.so" />
        <resource-file src="src/android/libs/armeabi/libprt_serial_port.so" 
        target="jniLibs/armeabi/libprt_serial_port.so" /> -->
    </platform>
</plugin>
